.cv-container {
    p, ul>li {
        font-size: 14px;
    }
    img.simple-icon {
        margin-right: 10px;
        filter: invert(100%);
    }
    .experience, .reference {
        h5 {
            margin-bottom: 15px;
        }
    }

    .cv-col-1, .cv-col-2 {
        padding-top: 10px;
    }

    .cv-col-1 {
        background: #263147 !important;
        // background: #42536f !important;
    }

    .profile {
        p {
            line-height: .5;
        }
        .main-profile {
            div.profile-photo {
                margin-bottom: 8px;

                img {
                    width: 180px;
                    border-radius: 100px;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .profile-links {
            p {
                margin-bottom: 10px !important;
            }
        }
    }

    .summary {
        text-align: center;
    }

    .experience {
        p {
            line-height: .5 !important;
        }
    }

    .reference {
        p {
            line-height: .5 !important;
        }
        .ref-row {
            margin-bottom: 15px;
            
            >div {
                display: flex;
            }
        }
    }
}